.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.card {
  width: 30%;
  box-shadow: 28px -18px 38px 21px rgba(0,0,0,0.75);
  -webkit-box-shadow: 28px -18px 38px 21px rgba(0,0,0,0.75);
  -moz-box-shadow: 28px -18px 38px 21px rgba(0,0,0,0.75);
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 10px;
}
.card img {
  width: 100%;
}
body {
  background-image: url(https://i.pinimg.com/736x/99/bf/04/99bf046681ed50eddc24b43ef1bee5e2.jpg);
}
